################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTests/bin/Debug
/UnitTests/obj/Debug
/.vs/FidoFetch/v15/Server/sqlite3
